<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/style.videojocs.css">
	<title>Document</title>
	<style>
	</style>
</head>
<body>
	<header>
		<h1 class="header"; style="background-image: url(../img/redfall2.png);">Redfall</h1>
		<h1 style="text-align: center;">Lucha contra vampiros en una isla oscura.</h1>
	</header>
  <h3 style="text-align: center;">Opción desde:</h3>
	<div class="container">
		<div class="col">
			<img src="../img/redfall.jpeg" alt="Redfall" href="./view/videojoc1.html">
			<p>Precio:</p>
            <h2>55,99€</h2>
		</div>
        <p>Redfall es un juego de disparos en primera persona de mundo abierto centrado en la narrativa desarrollado por Arkane Austin, el equipo responsable de Prey y Dishonored. El juego cuenta con modos tanto para un jugador como para multijugador cooperativo1. La historia del juego se desarrolla en Redfall, una ciudad tomada por los vampiros. Los jugadores pueden elegir entre cuatro personajes jugables, cada uno con antecedentes y habilidades únicas, para luchar contra vampiros y enemigos humanos dentro del juego.</p>
    
	</div>
    </div>

    <center>
        <img src="../img/redfall1.png" style="text-align: center;" width="700" height="400">
    </center>
    <p style="text-align: center;">El juego se desarrolla en un mundo abierto que propicia un acercamiento no lineal a la supervivencia dentro de este apocalipsis vampírico. Los jugadores pueden explorar el mundo del juego y descubrir secretos y misiones secundarias1. Además, el juego también cuenta con elementos de RPG que permiten a los jugadores personalizar sus personajes y armas.</p>
    <center><a href="../index.html" class="decoracion">➜ Ir a inicio</a></center>
  <div class="footer-head">
    <h3>PlayZone 2023</h3>
    <h3>©Copyright</h3>
  </div>
  <div class="footer-container">
    <div class="container">
</body>
</html>
