<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/style.videojocs.css">
	<title>Document</title>
	<style>
	</style>
</head>
<body>
	<header>
		<h1 class="header"; style="background-image: url(../img/FH52.jpeg);">Forza Horizon 5</h1>
		<h1 style="text-align: center;">Juego de carreras y mundo abierto en el que puedes conducir cientos de coches por los diversos y espectaculares paisajes de México</h2>
	</header>
  <h3 style="text-align: center;">Opción desde:</h3>
	<div class="container">
		<div class="col">
			<img src="../img/FH5.jpeg" alt="Forza Horizon " href="./view/videojoc1.html">
			<p>Precio:</p>
            <h2>75,86€</h2>
		</div>
        <p>Forza Horizon 5 es un juego de carreras y mundo abierto desarrollado por Playground Games y publicado por Xbox Game Studios. Es el quinto título de la saga Forza Horizon y la duodécima entrega principal de la serie Forza. El juego está ambientado en una representación ficticia de México, con paisajes diversos y espectaculares. El juego se lanzó en Windows, Xbox Series X|S y Xbox One el 9 de noviembre de 2021</p>
    <p>En este juego puedes conducir cientos de coches por los variados escenarios de México, desde desiertos, selvas y playas hasta ciudades, ruinas y volcanes. Puedes participar en diferentes tipos de carreras, como circuitos, rallys o cross-country. También puedes explorar el mundo a tu ritmo, buscando coleccionables, desafíos o eventos especiales.</p>
	</div>
    </div>

    <center>
        <img src="../img/FH51.jpeg" style="text-align: center;" width="700" height="400">
    </center>
    <p style="text-align: center;">Forza Horizon 5 tiene un modo historia donde lideras expediciones por el mundo abierto y conoces a nuevos personajes. También tiene un modo online llamado Forza Horizon Online, donde puedes competir o cooperar con otros jugadores en diversas actividades. Además, el juego cuenta con un editor integrado llamado Forza Horizon Creative Hub, donde puedes crear tus propias pistas, eventos o aventuras y compartirlas con la comunidad.</p>
    <p style="text-align: center;">Forza Horizon 5 tiene varias mejoras técnicas y visuales respecto a sus anteriores entregas. Algunas de estas mejoras son:</p>
    <p style="text-align: center;">- Mayor distancia de dibujado y mayor detalle en los escenarios.</p>
    <p style="text-align: center;">- Nuevos efectos climáticos y estaciones dinámicas, que cambian el aspecto y la jugabilidad del mundo cada semana.</p>
    <p style="text-align: center;">- Nueva iluminación y trazado de rayos, que mejoran el realismo de las sombras, los reflejos y las texturas.</p>
    <p style="text-align: center;">- Nueva cámara en primera persona, que permite ver el interior de los coches con más detalle.</p>
    <p style="text-align: center;">- Nueva banda sonora, con más de 200 canciones nuevas repartidas en 10 emisoras de radio.</p>
    <p style="text-align: center;">Forza Horizon 5 es un juego muy aclamado por la crítica y el público, que ha vendido más de 10 millones de copias en todo el mundo. Es considerado uno de los mejores juegos de carreras de la historia, por su extenso y variado mundo abierto, su divertida y fluida jugabilidad, su impresionante apartado técnico y su exitoso modo online.</p>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/FYH9n37B7Yw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
    <center><a href="../index.html" class="decoracion">➜ Ir a inicio</a></center>
  <div class="footer-head">
    <h3>PlayZone 2023</h3>
    <h3>©Copyright</h3>
  </div>
  <div class="footer-container">
    <div class="container">
</body>
</html>
