<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/style.videojocs.css">
	<title>Document</title>
	<style>
	</style>
</head>
<body>
	<header>
		<h1 class="header"; style="background-image: url();">Redfall</h1>
		<h1 style="text-align: center;"> Pilota aviones por un mundo realista.</h2>
	</header>
  <h3 style="text-align: center;">Opción desde:</h3>
	<div class="container">
		<div class="col">
			<img src="../img/ms.png" alt="Redfall" href="./view/videojoc1.html">
			<p>Precio:</p>
            <h2>88€</h2>
		</div>
        <p>Microsoft Flight Simulator es un juego de simulación de vuelo desarrollado por Asobo Studio y publicado por Xbox Game Studios. Es el undécimo título de la saga Microsoft Flight Simulator y el primero en más de una década. El juego se lanzó en Windows el 18 de agosto de 2020 y en Xbox Series X|S el 27 de julio de 2021.</p>
        <p>En este juego puedes pilotar diferentes tipos de aviones, desde aviones ligeros hasta aviones comerciales, por un mundo realista y detallado. Puedes crear tu propio plan de vuelo y volar a cualquier lugar del planeta. También puedes disfrutar de volar de día o de noche y enfrentarte a condiciones meteorológicas realistas y desafiantes.</p>
        <p>Microsoft Flight Simulator tiene un modo libre donde puedes volar sin restricciones por el mundo. También tiene un modo entrenamiento donde puedes aprender los conceptos básicos del vuelo con lecciones guiadas. Además, el juego cuenta con un modo desafío donde puedes poner a prueba tus habilidades en situaciones difíciles, como aterrizajes forzosos o vuelos acrobáticos.</p>
      </div>
    </div>

    <center>
        <img src="../img/ms2.png" style="text-align: center;" width="700" height="400">
    </center>
    <p style="text-align: center;">Microsoft Flight Simulator tiene varias características técnicas y visuales que lo hacen uno de los juegos más avanzados y realistas del mercado. Algunas de estas características son:</p>
    <p style="text-align: center;">- Recreación del mundo real mediante datos satelitales y fotogrametría, que permiten generar escenarios con gran fidelidad y detalle.</p>
    <p style="text-align: center;">- Integración con Bing Maps para ofrecer una navegación precisa y actualizada por el mundo.</p>
    <p style="text-align: center;">- Integración con Azure AI para generar tráfico aéreo y terrestre dinámico y realista, así como animales salvajes.</p>
    <p style="text-align: center;">- Integración con Meteoblue para ofrecer un clima en tiempo real basado en datos meteorológicos reales, con nubes volumétricas, viento, lluvia, nieve, niebla y tormentas eléctricas.</p>
    <p style="text-align: center;">- Soporte para realidad virtual para ofrecer una mayor inmersión y realismo al volar.</p>
    <p style="text-align: center;">- Soporte para mods para permitir a los usuarios crear y compartir sus propios contenidos, como aviones, escenarios o misiones.</p>
    <p style="text-align: center;">Microsoft Flight Simulator es un juego muy aclamado por la crítica y el público, que ha vendido más de 2 millones de copias en todo el mundo. Es considerado uno de los mejores juegos de simulación de vuelo de la historia, por su extenso y variado mundo realista, su divertida y compleja jugabilidad, su impresionante apartado técnico y su soporte para la comunidad.</p>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/TYqJALPVn0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
    <center><a href="../index.html" class="decoracion">➜ Ir a inicio</a></center>
  <div class="footer-head">
    <h3>PlayZone 2023</h3>
    <h3>©Copyright</h3>
  </div>
  <div class="footer-container">
    <div class="container">
</body>
</html>
